<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>VAMS - DVR Portal</title>
  <link rel="icon" href="../assets/images/veolia_logo_rbg_64_no_padding.png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="../assets/css/dvr_login.css" />
</head>

<body class="d-flex align-items-center w-100 vh-100 bg-body-tertiary">
  <main id="login_main" class="container d-none login-form">
    <form id="login_form" class="vstack gap-4">
      <img class="mx-auto mb-5 login-logo" src="../assets/images/veolia_logo_rbg_128_no_padding.png" />
      <div class="lead w-100 text-center">
        <p class="fs-5 m-0">Veolia Asset Management System</p>
        <p class="fs-3 m-0">DVR Portal</p>
      </div>
      <input type="email" class="form-control mb-3" name="user" v-model="user" id="login_input_user_id" placeholder="User ID" />
      <div class="input-group">
        <input type="password" class="form-control" name="password" v-model="password" id="login_input_password" placeholder="Password" />
        <button class="btn btn-outline-secondary" type="button" id="login_button_toggle_password">
          <i class="bi bi-eye"></i>
        </button>
      </div>
      <button type="button" id="login_button_submit" class="btn btn-primary">Submit</button>
      <a href="#" class="link-primary mx-auto">Forget Password</a>
    </form>
  </main>
  <div id="alert" class="container-fluid fixed-top d-none vstack gap-2 mt-5">
    <div :id="data.id" v-for="data in datas" :key="data.id"
      v-bind="{ 'class': 'alert alert-dismissible fade show pre-line mx-auto col-12 col-xl-8 col-xxl-6 '+data.classfix }">
      {{ data.text }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
        @click.once="remove(data.id)"></button>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  <script src="../assets/js/common.js"></script>
  <script src="../assets/js/dvr_login_vue.js"></script>
  <script src="../assets/js/dvr_login.js"></script>
</body>

</html>